<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <display-name>欢迎界面图片的加载</display-name>
    <description>欢迎界面图片的加载</description>
    <servlet-class>org.jiangtao.lifetime.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendValidate</servlet-name>
    <display-name>发送验证码</display-name>
    <description>发送验证码</description>
    <servlet-class>org.jiangtao.lifetime.servlet.register.SendValidate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterInformationServlet</servlet-name>
    <display-name>发送注册基本信息</display-name>
    <description>发送注册基本信息</description>
    <servlet-class>org.jiangtao.lifetime.servlet.register.RegisterInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterHeadImageServlet</servlet-name>
    <display-name>用户选择头像</display-name>
    <description>用户选择头像</description>
    <servlet-class>org.jiangtao.lifetime.servlet.register.RegisterHeadImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterUserInformationServlet</servlet-name>
    <display-name>保存用户信息，并且关闭该界面，跳到下一个界面</display-name>
    <description>保存用户信息，并且关闭该界面，跳到下一个界面</description>
    <servlet-class>org.jiangtao.lifetime.servlet.android.register.RegisterUserInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>登陆</display-name>
    <description>登陆</description>
    <servlet-class>org.jiangtao.lifetime.servlet.login.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserImageServlet</servlet-name>
    <display-name>获取用户头像</display-name>
    <description>获取用户头像</description>
    <servlet-class>org.jiangtao.lifetime.servlet.login.GetUserImageServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendValidate</servlet-name>
    <url-pattern>/sendvalidate.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterInformationServlet</servlet-name>
    <url-pattern>/registerinformation.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterHeadImageServlet</servlet-name>
    <url-pattern>/registerImage.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterUserInformationServlet</servlet-name>
    <url-pattern>/saveInformation.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserImageServlet</servlet-name>
    <url-pattern>/headImage.action</url-pattern>
  </servlet-mapping>

</web-app>